<div class="row p-3">
    <div class="col">
        <app-search-bar></app-search-bar>
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        <app-results></app-results>
    </div>
</div>
