<div class="d-flex">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of sidebar -->

    <!-- Gifs Page -->
    <app-gifs-page class="container"></app-gifs-page>
    <!-- End of Gifs Page -->
</div>
