<div id="sidebar" class="bg-dark border-right p-3">
    <h3 class="text-light">Gifs App</h3>
    <hr class="text-white" />
    <div class="list-group list-reset">
        <a
            (click)="searchItem(searchTxt)"
            href="#"
            class="list-group-item list-group-item-action"
            *ngFor="let searchTxt of history"
            >{{ searchTxt | titlecase }}</a
        >
    </div>
</div>
